$default-bck-color: #212121;
$font-size: 1.1em;

@mixin block($background-color: $default-bck-color) {
  font-size: $font-size;
  background-color: $background-color;
  border-radius: 4px;

  @if $background-color == $default-bck-color {
    color: white;
    border-color: white;
  } @else {
    color: black;
    border-color: grey;
  }
}

.block {
  @include block;
}

.white-block {
  @include block(lightgrey);
}
