$bck-color: $grey-900;
$font-size: 1.1em;

@mixin block {
  color: white;
  background-color: $bck-color;
  font-size: $font-size;

  border-radius: 4px;
  border: 1px solid;
}

.block {
  @include block;
}
