$bck-color: $grey-900;
$font-size: 1.1em;

@mixin block {
  max-width: 600px;
  color: white;
  background-color: $bck-color;
  font-size: $font-size;
  margin: 8px auto;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid;
}
