@mixin button {
  .button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    font-family: Times;
    outline: none;

    &:active {
      color: white;
      background-color: darkcyan;
    }
  }
}
