@mixin side($is-right) {
  width: 50%;
  text-align: if($is-right, right, left);
  > div,
  a,
  i,
  span {
    display: inline-block;
    margin-right: 4px;
  }
}

@mixin toolbar($is-light) {
  @if $is-light {
    color: black;
    background-color: white;
  } @else {
    color: white;
    background-color: #212121;
  }
  height: 24px;
  padding: 8px;
  display: flex;
  flex-direction: row;

  .left-side {
    @include side(false);
  }
  .right-side {
    @include side(true);
  }

  div {
    margin: auto 0;
  }
}

.toolbar-dark {
  @include toolbar(false);
}

.toolbar-light {
  @include toolbar(true);
}
