@import "generic/var/colors";
@import "common/footer";
@import "typer/typer";

$bck-color-1: $blue-100;
$bck-color-2: $blue-50;

.theme {
  background-image: linear-gradient($bck-color-1, $bck-color-2);
  @include typer;
  @include footer;
}
