.app {
  background-image: linear-gradient(#bbdefb, #e1f5fe); }

.app #typer #text-block {
  color: white;
  background-color: #212121;
  font-size: 1.1em;
  margin: 8px;
  padding: 8px;
  border-radius: 2px;
  text-align: center;
  border: 1px solid; }

.app #typer #text-block .success {
  color: #4caf50; }

.app #typer #text-block .failure {
  color: #f44336; }

.app #typer #type-section {
  text-align: center; }

.app #typer #type-section #text-area {
  width: 75%;
  font-family: Times;
  font-size: 1.1em; }

.app #typer #type-section #btn-reset {
  width: 10em;
  padding: 8px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 2px;
  font-family: Times; }

.app #typer #img {
  text-align: center; }

.app #typer #img img {
  width: 30em; }
