@import "../generic/var/colors";
@import "../generic/button/button";
@import "../generic/block/block";

$img-width: 31em;
$char-color-success: lightgreen;
$char-color-failure: $red-500;

@mixin typer {
  #typer {
    text-align: center;

    #image-section {
      max-width: 40em;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }

    #summary-block {
      display: flex;
      @include block;
    }

    #bottom-section {
      text-align: center;
      #btn-reset {
        @include button;
      }
    }

    #text-block {
      @include block;

      .success {
        color: $char-color-success;
      }

      .failure {
        background-color: $char-color-failure;
      }
    }
  }
}
