@import "../generic/var/colors";
@import "../generic/button/button";

$img-width: 30em;
$text-area-font-size: 1.1em;
$text-area-width: 75%;
$text-block-bck-color: $grey-900;
$text-block-font-size: 1.1em;
$char-color-success: $green-500;
$char-color-failure: $red-500;

@mixin typer {
  #typer {
    #text-block {
      color: white;
      background-color: $text-block-bck-color;
      font-size: $text-block-font-size;
      margin: 8px;
      padding: 8px;
      border-radius: 2px;
      text-align: center;
      border: 1px solid;

      .success {
        color: $char-color-success;
      }

      .failure {
        background-color: $char-color-failure;
      }
    }

    #bottom-section {
      text-align: center;
      #btn-reset {
        @include button;
      }
    }

    #img {
      text-align: center;
      img {
        width: $img-width;
      }
    }
  }
}
