@mixin banner($background-color) {
  color: white;
  background: $background-color;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid;
}

.banner-error {
  @include banner(darkred);
}

.banner-success {
  @include banner(green);
}
