$default-bck-color: #212121;
$font-size: 1.1em;

@mixin block($background-color: $default-bck-color) {
  font-size: $font-size;
  background-color: $background-color;
  border-radius: 4px;

  @if $background-color == $default-bck-color {
    color: white;
    border-color: white;
  } @else {
    color: black;
    border-color: grey;
  }
}

.block-dark {
  @include block($default-bck-color);
}

.block-light {
  @include block(lightgrey);
}

.block-primary {
  @include block(darkcyan);
  text-decoration: none;
  color: white;
  border: 1px solid lightgrey;
  padding: 2px 2px;
}
