@import "generic/progress/progressbar";
@import "generic/nav/toolbar";
@import "generic/field/field";
@import "generic/button/button";
@import "generic/block/banner";
@import "common/common";
@import "common/footer";
@import "typer/typer";

$bck-color-1: lightgrey;
$bck-color-2: lightblue;

html {
  background-image: linear-gradient($bck-color-2, $bck-color-1);
  @include common;
  @include typer;
  @include footer;

  body {
    margin: 0;
  }

  main {
    margin: 8px;
  }

  form {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
}
