// material design colors
$teal-700: #00796b;
$teal-900: #004d40;
$green-200: #a5d6a7;
$green-400: #66bb6a;
$green-500: #4caf50;
$red-200: #ef9a9a;
$red-400: #ef5350;
$red-500: #f44336;
$blue-50: #e1f5fe;
$blue-100: #bbdefb;
$blue-300: #64b5f6;
$blue-400: #29b6f6;
$blue-500: #03a9f4;
$blue-600: #039be5;
$amber-500: #ffc107;
$grey-800: #424242;
$grey-900: #212121;
