@mixin common {
  .right {
    justify-self: end;
  }

  .left {
    justify-self: start;
  }

  .text-center {
    text-align: center;
  }

  .spinner {
    text-align: center;
    i {
      max-width: 200px;
    }
  }

  .small-block {
    background-color: darkcyan;
    margin: 0 2px;
    border: 0.5px solid;
    border-radius: 2px;
    padding: 3px;
  }

  .cyan-block {
    @include block;
    background-color: darkcyan;
    margin: 4px 2px;
    padding: 3px;
  }

  .golden-block {
    background-color: goldenrod;
    margin: 4px 2px;
    border: 0.5px solid;
    border-radius: 2px;
    padding: 3px;
  }
}
