$default-gap: 8px;
$small-gap: 4px;

@mixin has-padding($padding: $default-gap) {
  padding: $padding;
}

@mixin has-vertical-padding($padding: $default-gap) {
  padding: $padding 0;
}

@mixin has-horizontal-padding($padding: $default-gap) {
  padding: 0 $padding;
}

@mixin has-margin($padding: $default-gap) {
  padding: $padding;
}

@mixin has-vertical-margin($margin: $default-gap) {
  margin: $margin 0;
}

@mixin has-horizontal-margin($margin: $default-gap) {
  margin: 0 $margin;
}

@mixin common {
  /* PADDING */

  .has-padding {
    @include has-padding();
  }

  .has-padding-small {
    @include has-padding($small-gap);
  }

  .has-vertical-padding {
    @include has-vertical-padding();
  }

  .has-vertical-padding-small {
    @include has-vertical-padding($small-gap);
  }

  .has-horizontal-padding {
    @include has-horizontal-padding();
  }

  .has-horizontal-padding-small {
    @include has-horizontal-padding($small-gap);
  }

  /* MARGIN */

  .has-margin {
    @include has-padding();
  }

  .has-margin-small {
    @include has-margin($small-gap);
  }

  .has-vertical-margin {
    @include has-vertical-margin();
  }

  .has-vertical-margin-small {
    @include has-vertical-margin($small-gap);
  }

  .has-horizontal-margin {
    @include has-horizontal-margin();
  }

  .has-horizontal-margin-small {
    @include has-horizontal-margin($small-gap);
  }

  //--------------------------------------------------

  .align-middle-center {
    margin: auto;
  }

  .has-spacing {
    > div {
      margin-bottom: 8px;
    }
    form {
      > div {
        margin-bottom: 8px;
      }
    }
  }

  .right {
    justify-self: end;
  }

  .left {
    justify-self: start;
  }

  .text-center {
    text-align: center;
  }

  .spinner {
    text-align: center;
    i {
      max-width: 200px;
    }
  }

  .small-block {
    color: white;
    background-color: darkcyan;
    margin: 0 2px;
    border: 0.5px solid;
    border-radius: 2px;
    padding: 4px;
  }

  .cyan-block {
    @include block;
    background-color: darkcyan;
    margin: 4px 2px;
    padding: 3px;
  }

  .golden-block {
    background-color: goldenrod;
    margin: 4px 2px;
    border: 0.5px solid;
    border-radius: 2px;
    padding: 3px;
  }
}
