@mixin toolbar {
  .toolbar {
    color: white;
    background-color: black;
    border-bottom: 0.5px solid white;
    height: 20px;
    opacity: 0.75;
    padding: 8px;
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
    }

    .left-side {
      width: 50%;
      text-align: left;
      margin: auto;
      > div,
      a,
      span {
        display: inline;
        margin-right: 4px;
      }
    }
    .right-side {
      width: 50%;
      text-align: right;
      margin: auto;
      > div,
      a,
      span {
        display: inline;
        margin-left: 4px;
      }
    }
  }
}
