@import "../generic/var/colors";
@import "../generic/button/button";
@import "../generic/block/block";
@import "../generic/block/card";

$char-color-success: lightgreen;
$char-color-failure: $red-500;

@mixin typer {
  #typer {
    #image-section {
      img {
        width: 100%;
      }
    }

    #summary-block {
      display: flex;
      @include block;
    }

    #bottom-section {
      text-align: center;
    }

    #text-block {
      text-align: center;
      @include block;

      #quote {
        .success {
          color: $char-color-success;
        }

        .failure {
          background-color: $char-color-failure;
        }

        .underline {
          text-decoration: underline;
        }
      }
    }
  }

  .typer-progress-indicator {
    height: 9px;
    background-color: darkcyan;
    border: 0.5px solid #fff;
    border-radius: 2px;

    .progress {
      // transition: 300ms linear;
      height: 8px;
      display: inline-block;
      position: relative;
      left: 0.5px;
      top: 0.5px;
    }

    .success {
      background-color: $char-color-success;
    }

    .failure {
      background-color: $char-color-failure;
    }
  }
}
