@import "generic/var/colors";
@import "generic/progress/progressbar";
@import "generic/nav/toolbar";
@import "generic/field/field";
@import "generic/button/button";
@import "common/common";
@import "common/header";
@import "common/footer";
@import "typer/typer";

$bck-color-1: $blue-100;
$bck-color-2: $blue-50;

html {
  background-image: linear-gradient($bck-color-1, $bck-color-2);
  @include common;
  @include typer;
  @include toolbar;
  @include header;
  @include footer;

  body {
    margin: 0;
  }

  main {
    margin: 8px;
  }

  form {
    margin: 0;
  }
}
