@import "generic/var/colors";
@import "generic/progress/progressbar";
@import "generic/nav/toolbar";
@import "common/common";
@import "common/header";
@import "common/footer";
@import "typer/typer";

$bck-color-1: $blue-100;
$bck-color-2: $blue-50;

body {
  margin: 0;
}

.theme {
  background-image: linear-gradient($bck-color-1, $bck-color-2);
  @include common;
  @include typer;
  @include toolbar;
  @include header;
  @include footer;
}
